# File types to ignore
*.cache
*.suo
*.user
*.nupkg
*.lock.json

# Build artifacts to ignore
bin/
Bin/
obj/
TestResults/
Build/NuGet/lib
*.zip
packages/
Backup/
dist/

# Created by Cake
tools/

# Visual Studio config
.vs/
TestResult.xml
